<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <link rel='stylesheet' href='/cs/style.css'>
    </head>
    <body>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre id=""><%= error.stack %></pre>
    </body>
</html>