<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="MEKKI Djamel Eddine">
        <meta name="copyright" content="© Djo" />
        <title>LRC Maker</title>
        <meta name="description" content="#">
        <meta name="keywords" content="#">
        <link rel="shortcut icon" href="/favicon.ico">
        <style>
	        .w3-striped-dark-grey tbody tr:nth-child(2n) {
            	background-color: #333;
	        }
	        .w3-overflow-y{
		        height: 100%;
		        max-height: 100vh;
		        overflow-y: scroll;
	        }
	        .w3-just-one{
		        display: none;
	        }
	        .w3-just-one.active{
		        display: block;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/libs/awesome/5.8.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="/libs/w3.css/4.13/w3.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/dz-flag.css" />
	</head>
	<body>
        <div id="app">
            <section id="body" class="w3-overflow-y w3-row w3-text-sand">
                <div class="w3-content">
		            <!-- Edit tags -->
                    <div style='width: 100%'>
                        <div class="w3-container">
                            <ul id="info"></ul>
                            <label><b>Tilte</b></label>
                            <input class="w3-input w3-border w3-grey" type="text" v-model="metadata.title" placeholder="Tilte">
                            <label><b>Artist</b></label>
                            <input class="w3-input w3-border w3-grey" type="text" v-model="metadata.artist" placeholder="Artist">
                            <label><b>Album</b></label>
                            <input class="w3-input w3-border w3-grey" type="text" v-model="metadata.album" placeholder="Album">
                            <label><b>Year</b></label>
                            <input class="w3-input w3-border w3-grey" type="text" v-model="metadata.year" placeholder="Year">
                            <label><b>Lyrice</b></label>
                            <textarea class="w3-input w3-border w3-grey" @keyup="lyrics" type="text" placeholder="Lyrice......." v-model="metadata.lrc"></textarea>
                        </div>
                    <!-- Edit lyrics -->
                        <div class="w3-container">
                            <div class="w3-padding-16">
                                <table class="w3-input w3-border w3-grey w3-margin-16 w3-left-align">
                                    <tbody>
                                        <tr v-for="(ligne, i) in lrc">
                                            <th :data-index="i" @click="timer" :data-index="i" class="w3-text-black">[{{ligne.mm}}:{{ligne.ss}}.{{ligne.xx}}]</th>
                                            <th :data-time="ligne.time" @click="goto" class=""
                                            :class="{'w3-text-black': ligne.time<audio.curtime,'w3-text-grey':!(ligne.time<audio.curtime)}">{{ligne.text}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <small>&copy; 2019 DTA.</small>
                            </div>
                        </div>
                        <div id="commands">

                        </div>
                    </div>
                </div>
            <!--Cover, imp_info, statistique-->
            </section>
            <!-- Footer -->
            <section id="foot" class="w3-bottom w3-bar">
                <div class="time-line">
                    <!-- Button -->
                    <button @click="replay" class="neon-green">
                        <i class="fas fa-undo"></i>
                    </button>
                    <button @click="playPause" class="neon-green">
                        <i :class='{"fa-play": audio.playbtn, "fa-pause": !audio.playbtn}' class="fas"></i>
                    </button>
                    <button @click="forward" class="neon-green">
                        <i class="fas fa-redo"></i>
                    </button>
                    <!-- Time -->
                    <span id="curtimetext">{{ curtime.mm }}:{{ curtime.ss }}</span> / <span id="durtimetext">{{ durtime.mm }}:{{ durtime.ss }}</span>
                    <div class="slider time-line-slider">
                        <progress :value="audio.curtime" min="0" :max="audio.durtime"></progress>
                        <input v-model="audio.curtime" min="0" :max="audio.durtime" type="range" step="1">
                    </div>
                    <!-- Speed -->
                    <button @click="speedbtn" class="neon-green">X {{speed}}</button>
                    <div class="slider playbackrate-slider">
                        <progress :value="audio.playbackRate" min="0" max='2'></progress>
                        <input v-model="audio.playbackRate" min="0" max="2" type="range" step="0.01">
                    </div>
                    <!-- Volume -->
                    <button @click="muted" class="neon-green">
                        <i :class='{"fa-volume-mute": audio.mute || audio.vol<10, "fa-volume-up": audio.vol>=75 && !audio.mute, "fa-volume-down": audio.vol<75 && audio.vol>=40 && !audio.mute, "fa-volume-off": audio.vol<40 && audio.vol>=10 && !audio.mute}' class="fas"></i>
                    </button>
                    <div class="slider volume-slider-slider">
                        <progress :value="audio.vol" min="0" max="100"></progress>
                        <input v-model="audio.vol" min="0" max="100" type="range" step="1">
                    </div>
                </div>
            </section>
            <div class="fix_bottom_right">
                <label class="button neon_vert">
                    <i class="fas fa-file-audio"></i>
                    <input id="open" title="Select .mp3,.wav,.ogg file" type="file" accept="audio/*">
                </label>
            </div>
            <div style="display: none;">
                <h2 id="playlist_status" style="color:#FFF;"></h2>
                <div><span>box module</span>
                    <div>coulse</div>
                </div>
                <div>body</div>
                <div><span>ok</span><span>anuller</span></div>
            </div>
        </div>
        <script charset="utf-8" src="/libs/jquery/3.5.0/jquery.js"></script>
        <script charset="utf-8" src="/libs/shortcut/2.01.B/shortcut.js"></script>
        <script charset="utf-8" src="/libs/w3.js/1.04/w3.js"></script>
        <script charset="utf-8" src="/libs/vue/2.6.10/vue.js"></script>
        <script charset="utf-8" src="/libs/js-cookie/2.2.1/js.cookie.js"></script>
        <script charset="utf-8" src="/libs/FileSaver.js/2.0.5/FileSaver.js"></script>
        <script charset="utf-8" src="/js/jdataview.js"></script>
        <script charset="utf-8" src="/js/app.js"></script>
	</body>
</html>
